http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Cimage%20destination%3D%22images%2Flocalization_concept_map.png%22%20title%3D%22%22%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3ErOpenSci%20Localizacion%20Process%3C%2Ftext%3E%0A%20%20%20%20%3C%2Fimage%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%2F%3E%0A%20%20%20%20%3Ccurly%20curly%3D%22true%22%20alt%3D%22Localization%20process%20cicle%22%3E%7Bfig-alt%3D%22Localization%20process%20cicle%22%7D%3C%2Fcurly%3E%0A%20%20%20%20%3Ctext%2F%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak%2Cstrong%2Cemph&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: 4a544b4042df43f0868aaa6473966ff1
    body:
      string: '{"translations":[{"text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE
        document SYSTEM \"CommonMark.dtd\">\n<document xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n    <image
        destination=\"images/localization_concept_map.png\" title=\"\">\n      <text
        xml:space=\"preserve\">Proceso</text>\n    </image>\n    de\n    <text xml:space=\"preserve\"/>\n    <image
        destination=\"images/localization_concept_map.png\" title=\"\">\n      <text
        xml:space=\"preserve\">localización de rOpenSci</text>\n    </image>\n    \n    <curly
        curly=\"true\" alt=\"Localization process cicle\">{fig-alt=\"Localization
        process cicle\"}</curly>\n    <text/>\n  </paragraph>\n</document>\n","detected_source_language":"EN","tag_handling_version":"v2"}]}'
  recorded_at: 2026-04-14 15:51:23
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3ELocalization%20process%20cicle%3C%2Ftext%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak%2Cstrong%2Cemph&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: dacfaa8ffaa941479d9828a918847702
    body:
      string: '{"translations":[{"text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE
        document SYSTEM \"CommonMark.dtd\">\n<document xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n    <text
        xml:space=\"preserve\">Ciclo del proceso de localización</text>\n  </paragraph>\n</document>\n","detected_source_language":"EN","tag_handling_version":"v2"}]}'
  recorded_at: 2026-04-14 15:51:23
recorded_with: VCR-vcr/2.1.0
