http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3ESome%20text.%3C%2Ftext%3E%0A%20%20%3C%2Fparagraph%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Cfence%20xml%3Aspace%3D%22preserve%22%20fence%3D%22true%22%3E%3A%3A%3A%20footer%3C%2Ffence%3E%0A%20%20%20%20%3Csoftbreak%2F%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%20%20%20%20%3Csquary%3EYou%20are%20sneaky%21%3C%2Fsquary%3E%0A%20%20%20%20%20%20%3Ctext%2F%3E%0A%20%20%20%20%3C%2Ftext%3E%0A%20%20%20%20%3Ccurly%20curly%3D%22true%22%3E%7Bstyle%3D%22color%3A%20transparent%3B%22%7D%3C%2Fcurly%3E%0A%20%20%20%20%3Ctext%2F%3E%0A%20%20%20%20%3Csoftbreak%2F%3E%0A%20%20%20%20%3Cfence%20xml%3Aspace%3D%22preserve%22%20fence%3D%22true%22%3E%3A%3A%3A%3C%2Ffence%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak%2Cstrong%2Cemph&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: bd270e30dad34b999022039d9457c7c0
    body:
      string: '{"translations":[{"text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE
        document SYSTEM \"CommonMark.dtd\">\n<document xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n    <text
        xml:space=\"preserve\">Un poco de texto.</text>\n  </paragraph>\n  <paragraph>\n    <fence
        xml:space=\"preserve\" fence=\"true\">::: footer</fence>\n    \n    <text
        xml:space=\"preserve\">\n      <squary>¡Qué</squary>\n    </text>\n    \n    <softbreak/>\n    <text
        xml:space=\"preserve\">\n      <squary>astuto eres!</squary>\n      <text/>\n    </text>\n    \n    <curly
        curly=\"true\">{style=\"color: transparent;\"}</curly>\n    <text/>\n    <softbreak/>\n    \n    <fence
        xml:space=\"preserve\" fence=\"true\">:::</fence>\n  </paragraph>\n</document>\n","detected_source_language":"EN","tag_handling_version":"v2"}]}'
  recorded_at: 2026-04-14 15:51:27
recorded_with: VCR-vcr/2.1.0
