http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3Ealt%3D%22Portrait%20of%20a%20corgi%20sleeping%22%3C%2Ftext%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak%2Cstrong%2Cemph&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: eef5ea9760e04d9e859c557c5d9cc3c0
    body:
      string: '{"translations":[{"text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE
        document SYSTEM \"CommonMark.dtd\">\n<document xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n    <text
        xml:space=\"preserve\">alt=\"Retrato de un corgi durmiendo\"</text>\n  </paragraph>\n</document>\n","detected_source_language":"EN","tag_handling_version":"v2"}]}'
  recorded_at: 2026-04-14 15:51:19
[...]
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3Etitle%3D%22how%20%3C%2Ftext%3E%0A%20%20%20%20%3Cemph%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3Enice%3C%2Ftext%3E%0A%20%20%20%20%3C%2Femph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E%20is%20this%20pic%3F%21%22%3C%2Ftext%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak%2Cstrong%2Cemph&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: 09305472bfe4464bba8bfdc96d2ed670
    body:
      string: '{"translations":[{"text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE
        document SYSTEM \"CommonMark.dtd\">\n<document xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n    <text
        xml:space=\"preserve\">title=\"</text>\n    <text xml:space=\"preserve\">¡</text>\n    <text
        xml:space=\"preserve\">¿A que</text>\n    <text xml:space=\"preserve\">es</text>\n    <emph>\n      <text
        xml:space=\"preserve\">genial</text>\n    </emph>\n    <text xml:space=\"preserve\">esta
        foto?!\"</text>\n  </paragraph>\n</document>\n","detected_source_language":"EN","tag_handling_version":"v2"}]}'
  recorded_at: 2026-04-14 15:51:20
[...]
